<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281394997658-7q650tp9l165qgf8bgq6mtbo25t04k63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281394997658-7q650tp9l165qgf8bgq6mtbo25t04k63</string>
	<key>API_KEY</key>
	<string>AIzaSyAcg2nYydTjF7b_-CjJ24rsOtjxqlLJbiM</string>
	<key>GCM_SENDER_ID</key>
	<string>281394997658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lastresort.lr</string>
	<key>PROJECT_ID</key>
	<string>last-resort-89e02</string>
	<key>STORAGE_BUCKET</key>
	<string>last-resort-89e02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281394997658:ios:d1af614c852afc0c7d7223</string>
</dict>
</plist>